.bg1 {
  background-color: red;
}
.catg__div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px;
  width: 300px !important;
  height: 200px;

}
.bg2 {
  background-color: aqua;

}
.bg3 {
  background-color: blueviolet;
}
.bg4 {
  background-color: brown;
}
.bg5 {
  background-color: cadetblue;
}
.bg6 {
  background-color: chartreuse;
}
.bg7 {
  background-color: chocolate;
}
.bg8 {
  background-color: green;
}
