.layOut {
  position: absolute;
  z-index: 100;
  top: 45%;
  left: 2%;
  h5 {
    font-weight: 500;
    font-size: 2.5rem;
  }
  p {
    font-weight: 300;
    font-size: 2rem;
  }
  button {
    font-weight: 400;
  }
}
.img__LayOut {
  position: absolute;
  top: 80%;
  left: 10%;
  z-index: 1000;
}
// mediaQuery
@media screen and (min-width: 320px) and (max-width: 480px) {
  .left__CatSide {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 568px) {
  .left__CatSide {
    display: none;
  }
}
@media screen and (min-width: 568px) and (max-width: 768px) {
  .left__CatSide {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .img__LayOut {
    font-size: 15px;
    left: 12%;
  }
}
